In [1]:
import pandas as pd

In [2]:
def prepare_data(df, categorical):
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [21]:
expected_output = [
{'PULocationID': '-1', 'DOLocationID': '-1', 'tpep_pickup_datetime': '2023-01-01 01:01:00', 'tpep_dropoff_datetime': '2023-01-01 01:10:00', 'duration': 9.0},
{'PULocationID': '1', 'DOLocationID': '1', 'tpep_pickup_datetime': '2023-01-01 01:02:00', 'tpep_dropoff_datetime': '2023-01-01 01:10:00', 'duration': 8.0},
]

expected_output_df = pd.DataFrame(expected_output)
expected_output_df['tpep_dropoff_datetime'] = pd.to_datetime(expected_output_df['tpep_dropoff_datetime'])
expected_output_df['tpep_pickup_datetime'] = pd.to_datetime(expected_output_df['tpep_pickup_datetime']) 
expected_output_df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2023-01-01 01:01:00,2023-01-01 01:10:00,9.0
1,1,1,2023-01-01 01:02:00,2023-01-01 01:10:00,8.0

In [22]:
expected_output_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PULocationID           2 non-null      object
 1   DOLocationID           2 non-null      object
 2   tpep_pickup_datetime   2 non-null      datetime64[ns]
 3   tpep_dropoff_datetime  2 non-null      datetime64[ns]
 4   duration               2 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 212.0+ bytes

In [5]:
from datetime import datetime

def dt(hour, minute, second=0):
    return datetime(2023, 1, 1, hour, minute, second)

In [6]:
data = [
    (None, None, dt(1, 1), dt(1, 10)),
    (1, 1, dt(1, 2), dt(1, 10)),
    (1, None, dt(1, 2, 0), dt(1, 2, 59)),
    (3, 4, dt(1, 2, 0), dt(2, 2, 1)),
]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
input_df = pd.DataFrame(data, columns=columns)
input_df

   PULocationID  DOLocationID tpep_pickup_datetime tpep_dropoff_datetime
0           NaN           NaN  2023-01-01 01:01:00   2023-01-01 01:10:00
1           1.0           1.0  2023-01-01 01:02:00   2023-01-01 01:10:00
2           1.0           NaN  2023-01-01 01:02:00   2023-01-01 01:02:59
3           3.0           4.0  2023-01-01 01:02:00   2023-01-01 02:02:01

In [7]:
categorical = ['PULocationID', 'DOLocationID']
output_df = prepare_data(input_df, categorical)
output_df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2023-01-01 01:01:00,2023-01-01 01:10:00,9.0
1,1,1,2023-01-01 01:02:00,2023-01-01 01:10:00,8.0

In [19]:
output_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PULocationID           2 non-null      object
 1   DOLocationID           2 non-null      object
 2   tpep_pickup_datetime   2 non-null      datetime64[ns]
 3   tpep_dropoff_datetime  2 non-null      datetime64[ns]
 4   duration               2 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 96.0+ bytes

In [8]:
pd.testing.assert_frame_equal(output_df, expected_output_df)

AssertionError: Attributes of DataFrame.iloc[:, 0] (column name="PULocationID") are different

Attribute "dtype" are different
[left]:  object
[right]: int64